body{
  background-image: url('main.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: "Georgia",Times,serif;
  font-size: 16px;
  line-height: 20px;
}
/*Main Section*/
.main{
  width: 80%;
  margin:48px auto;
}
.edit-quote{
  text-align: center;
}
.quotes{
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 4px 2px 4px black;
}
.quote{
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 10px;
  width: calc(25% - 48px);
  margin: 32px;
  padding: 16px;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.59);
}
.quote.first-in-line{
  margin-left: 0;

}
.quote.last-in-line{
  margin-right: 0;
}

.title{
  font-size: 25px;
  color: #00b2ff;
}
.quote-text{
  text-shadow: 1px 1px 2px blue;

}
.quote .info{
  margin-top: 8px;
  font-size: 12px;
  font-family:"Roboto",sans-serif;
  color: #75d6ff;

}
.quote .info a{
  color: #ffd92e;

}
.quote .info a:hover,
.quote .info a:active{
  color: red;

}

.quote .delete{
  position: absolute;
  top: 2px;
  right: 8px;
  font-family: sans-serif;
  font-size: 18px;
}
.quote .delete a{
  color: red;
  text-decoration: none;

}

.quote .delete a:hover,
.quote .delete a:active{
  color: green;
}




.input-group{
  margin: 16px 0;
}
.input-group label{
  display: block;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size:20px;
  color:#75d6ff;
  text-shadow:4px 4px 4px black;
  padding-bottom: 5px;
}

.input-group input,
.input-group textarea{
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
  font-size: inherit;
  padding: 4px 8px;
}
.input-group #author,
.input-group #email{
  width: 200px;

}
.input-group textarea{
  width: 400px;

}

.btn{
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #75d6ff;
  font-size: inherit;
  font-family: "Roboto", sans-serif;
  padding: 8px;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: bold;
}
.btn:hover,
.btn:active{
  background-color:  #ffd92e;

}

.info-box{
  text-align: center;
  margin: auto;
  padding: 16px;
  border-radius: 3px;
  width: 350px;
}

.info-box.fail{
  border: 1px solid #ff6b6a;
  background-color: #ffc2ba;
  color: #ff6b6a;


}

.info-box.success{
  border: 1px solid #46cc71;
  background-color: #bdffb6;
  color: #46cc71;
}

.filter-bar{
  width: 100%;
  padding: 16px;
  background-color: rgba(255, 195, 0, 0.87);
  color: black;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;

}

.filter-bar a{
  text-decoration: none;
  color: rgba(204, 0, 0, 0.95);
  font-weight: bold;
}
.filter-bar a:hover{
   color: green;
}

.pagination{
  font-size: 40px;
  font-weight: bold;
}
.pagination a{
  color: #ffd92e;
  text-decoration: none;
  text-shadow: 2px 2px 2px black;
}
.pagination a:hover,
.pagination a:active{
  color: #75d6ff;

}
.nfp h3{
  margin-left: 350px;
  color: red;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.59);
  width: 345px;
  padding: 20px;
  text-shadow: 1px 1px 1px white;
  border-radius: 30px;
}
.nfp a{
  margin-left: 460px;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.59);
  text-shadow: 1px 1px 1px black;
  padding: 15px;
  border-radius: 10px;
}
.nfp a:hover{
  color: red;
}
